<?xml version="1.0"?>
<model>
  <name>arm_description</name>
  <version>1.0</version>
  <sdf version="1.6">urdf/aria_arm.urdf.xacro</sdf>
  <author>
    <name>ARIA Robotic System</name>
    <email>aria@robotics.dev</email>
  </author>
  <description>
    ARIA 5-DoF Robotic Arm and Lab Simulation Assets
  </description>
</model>
